*{
    font-family: "Segoe UI light";
}

body{
   /* background-image: url("img/back.png");*/
}

table,h1{
    color: white;
}
td,th{
    border: 1px double lightgrey;
    font-size: 32px;
    min-width: 200px;
    text-align: left;
}
.no{
    min-width: 60px;
    text-align: center;
}

button{
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(white,gray);
}
